<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>
    <div class="white-bg">
      채팅목록 <% for(let i=0; i < chat.length; i++) { %>
      <div class="list-box">
        <a href="/chat/<%= chat[i]._id %>">
          <h3><%= chat[i]._id%></h3>
        </a>
      </div>
      <% } %>
    </div>
  </body>
</html>
